*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background-color: black;
    color: white;
    font-size: 20px;
    font-family:'Courier New', Courier, monospace;
}

h1{
    text-align: center;
    font-size: 50px;
    padding: 15px;
    text-decoration: underline;
}

div{
    text-align: center;
    margin-top: 50px;
    padding: 20px 0;
}

ul{
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    list-style: none;
    justify-content: center;
}

li{
    padding: 10px;
    border: 2px solid rgb(70, 70, 250);
}

section{
    /*background-image: url('images/space.jpg');
    background-repeat: no-repeat;
    background-size: cover;*/
    background-color: rgb(70, 70, 250);
    border: 5px solid rgb(70, 70, 250);
    position: relative;
    width: 800px;
    height: 550px;
    margin: auto;
    text-align: center;
}

#welcome{
    margin-top: 150px;
}

h2{
    color: black;
    font-size: 65px;
    margin: 40px 0 50px 0;
}

.buttons{
    color: black;
    font-weight: 700;
    font-size: 30px;
    background-color: rgb(70, 70, 250);
    padding: 20px 50px;
    font-family: 'Courier New', Courier, monospace;
    border-radius: 50px ;
    border: 2px solid black;
    cursor: pointer;
    margin-top: 20px;
    
}

.buttons:hover{
    background-color: yellow;
    -webkit-box-shadow: 0px 0px 19px 4px rgba(255,255,0,1);
    -moz-box-shadow: 0px 0px 19px 4px rgba(255,255,0,1);
    box-shadow: 0px 0px 19px 4px rgba(255,255,0,1);
}

#target{
    display: none;
    /*background-color: black ;*/
    width: 60px;
    height: 60px;
    position: absolute;
    cursor: pointer;
    /*border-radius: 50px;*/
}

#hiddenGameOver{
    display: none;
}

#allScore{
    font-size: 100px;
    font-weight: 700;
    color: black;
    margin-bottom: 30px;
}

#text-score{
    color: black;
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 30px;
}